:root {
  ---buttoncolor: #215f6e;
  ---red: red;
  ---font14: 14px;
  ---padding20: 20px;
  ---center: center;
}
html,
body {
  font-family: rubik, serif;
}

h1 {
  display: flex;
  justify-content: var(---center);
  margin: 0 auto;
  text-align: var(---center);
  padding: var(---padding20);
}

/* Pokemon button */
.button-custom {
  border: 1px solid var(---buttoncolor);
  background-color: var(---buttoncolor);
  font-size: 20px;
  color: white;
}

.button-custom:hover {
  background-color: var(---buttoncolor);
  color: rgba(33, 95, 110, 70%);
  cursor: pointer;
}

.pokemon-list {
  display: flex;
  align-content: var(---center);
  align-items: var(---center);
  justify-content: var(---center);
  margin-top: 10px;
  flex-flow: row wrap;
}

/* Modal */
#container,
#modal-container.is-visible {
  position: fixed;
  padding: var(---padding20);
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: var(---center);
}

#modal-container {
  display: none;
}

/* .modal {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background: transparent;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
} */

.modal-dialog {
  text-align: var(---center);
}

.modal-content {
  border-width: 3px;
  border-color: #ffffff;
  background-color: #fafafa;
  display: flex;
  align-items: var(---center);
  align-content: var(---center);
  box-sizing: border-box;
  padding: 15px;
  margin: 60px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.close {
  float: right;
  /* -webkit-appearance: none; */
  border: 0;
  background: none;
  color: #777;
  cursor: pointer;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

.modal-img {
  display: block;
  margin-left: 44%;
  margin-right: 50%;
}

.pokemon-name {
  margin: auto;
  margin-bottom: 10px;
}
.pokemon-height,
.pokemon-weight {
  margin: auto;
  margin-bottom: 10px;
  text-align: var(---center);
}

#show-modal {
  display: none;
}

/* Form */
h2 {
  display: flex;
  justify-content: var(---center);
  margin: 60px auto 0 auto;
  text-align: var(---center);
  padding: var(---padding20);
}

.form-container {
  margin: 20px auto;
  display: flex;
  align-items: var(---center);
  justify-content: var(---center);
}

.input-group {
  width: 500px;
  display: flex;
  align-items: var(---center);
  margin: 10px 0;
  position: relative;
}

.input-group label {
  flex-basis: 10%;
}

.input-group input {
  flex-basis: 60%;
}

.input-group textarea {
  flex-basis: 100%;
}

::placeholder {
  font-size: var(---font14);
}

.input-group span {
  position: absolute;
  right: 17px;
  font-size: var(---font14);
  color: var(---red);
}

#sumbit-error {
  color: var(---red);
}

.input-group span i {
  color: seagreen;
}
